{
  "plugins": ["@prettier/plugin-php", "prettier-plugin-blade"],
  "phpVersion": "8.2",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "trailingCommaPHP": true,
  "braceStyle": "per-cs",
  "overrides": [
    {
      "files": ["*.php"],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.blade.php"],
      "options": {
        "tabWidth": 2,
        "parser": "blade"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
