.banner__slider {
  min-width: 1px;
  max-width: 100%;
  @include media-breakpoint-down(lg) {
    order: -1;
  }
}

.banner__card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #777;
  min-width: 1px;
  min-height: 1px;
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 10 / 3;
}
