// *** Swiper ***

swiper-container {
  --swiper-pagination-color: radial-gradient(
    var(--primary-color) 5px,
    #fff 5px
  );
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 12px;
  --swiper-pagination-bottom: 12px;
  --swiper-pagination-top: auto;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 4px;

  @include media-breakpoint-down(md) {
    --swiper-pagination-right: 5px;
    --swiper-pagination-bottom: 5px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-color: radial-gradient(
      var(--primary-color) 3px,
      #fff 3px
    );
  }
}

// *** LightGallery ***

body {
  .lg-backdrop {
    background: #2b2626cc;
    backdrop-filter: blur(2.5px);
  }
  .lg-outer .lg-thumb-outer {
    background: transparent;
  }
  .lg-outer .lg-thumb-item {
    border-color: #fff2f033;
  }
  .lg-outer .lg-thumb-item.active,
  .lg-outer .lg-thumb-item:hover {
    border-color: var(--primary-color);
  }
}
