$font-family: 'Roboto';
$font-family2: serif;
$font-family3: serif;
$font-folder: '../fonts/';

@include font-face($font-family, $font-folder + 'Roboto-Bold', 700);
@include font-face($font-family, $font-folder + 'Roboto-Regular', 400);

// @include font-face($font-family2, $font-folder + 'serif', 400);

// @include font-face($font-family3, $font-folder + 'serif', 400);
