@use 'sass:math';

@import 'core/mixins';

$primary: #e8bab4;
$primary-alt: #dea19a;
$secondary: #cacc9c;
$secondary-alt: #8d9041;
$body-color: #3f3f3f;
$body-color-alt: #858585;

$red: #c96f6f;

@import 'core/lark';

@import 'core/fonts';
@import 'core/animations';

@import 'elements/_main';

@import 'elements/buttons';
@import 'elements/forms';
@import 'elements/range';
@import 'elements/plugins';
@import 'elements/social';

// @import 'elements/popups';

@import 'pages/0_layout';
@import 'pages/1_home';
// @import 'pages/2_catalog';
// @import 'pages/3_product';
// @import 'pages/4_cart';
// @import 'pages/5_checkout';
// @import 'pages/6_page';
// @import 'pages/7_faq';
// @import 'pages/8_reviews';

@import 'media/s_1200';
@import 'media/s_992';
@import 'media/s_768';
@import 'media/s_576';
