// ******* home screen *******
.home__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 700px;
  background: var(--dark-gray);
  @include media-breakpoint-down(lg) {
    min-height: auto;
    padding: 80px 50px;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 15px;
  }

  &:hover {
    .home__image {
      filter: brightness(1.3);
    }
  }
}
.home__image {
  transition: filter 0.15s;
}
.home__text {
  margin: auto;
  padding: 50px 70px;
  max-width: 766px;
  text-align: center;
  @include media-breakpoint-down(lg) {
    padding: 50px;
  }
  @include media-breakpoint-down(md) {
    padding: 25px;
  }
}

.home__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  @include media-breakpoint-down(md) {
    font-size: 27px;
    margin-bottom: 13px;
  }
}

.home__description {
  font-size: 18px;
  line-height: calc(26 / 18);
  margin-bottom: 20px;
  @include media-breakpoint-down(md) {
    font-size: 15px;
  }
}

// **********************

.home-page {
  --section-margin: 120px;

  display: grid;
  gap: var(--section-margin);

  @include media-breakpoint-down(xl) {
    --section-margin: 90px;
  }
  @include media-breakpoint-down(md) {
    --section-margin: 60px;
  }

  .products__section {
    @include media-breakpoint-only(md) {
      .product__card:nth-child(3) ~ .product__card {
        display: none;
      }
    }
  }

  .reviews__section {
    @include media-breakpoint-up(lg) {
      .review__card:nth-child(3) ~ .review__card {
        display: none;
      }
    }
    @include media-breakpoint-down(md) {
      .review__card:nth-child(3) ~ .review__card {
        display: none;
      }
    }
  }
}
