// ******* muzzle *******
.muzzle__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  min-height: 700px;
  background: var(--dark-gray);
  @include media-breakpoint-down(lg) {
    min-height: auto;
    padding: 80px 50px;
  }
  @include media-breakpoint-down(md) {
    padding: 30px 15px;
  }

  &:hover {
    .muzzle__image {
      filter: brightness(1.3);
    }
  }
}
.muzzle__image {
  transition: filter 0.15s;
}
.muzzle__text {
  margin: auto;
  padding: 50px 70px;
  max-width: 766px;
  text-align: center;
  @include media-breakpoint-down(lg) {
    padding: 50px;
  }
  @include media-breakpoint-down(md) {
    padding: 25px;
  }
}

.muzzle__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  @include media-breakpoint-down(md) {
    font-size: 27px;
    margin-bottom: 13px;
  }
}

.muzzle__description {
  font-size: 18px;
  line-height: calc(26 / 18);
  margin-bottom: 20px;
  @include media-breakpoint-down(md) {
    font-size: 15px;
  }
}

// **********************

.page-home {
  --section-margin: 120px;

  @include media-breakpoint-down(xl) {
    --section-margin: 90px;
  }
  @include media-breakpoint-down(md) {
    --section-margin: 60px;
  }

  // ******* About *******
  .about__section {
    padding-top: var(--section-margin);
  }

  // ******* Popular *******
  .popular {
    padding-top: var(--section-margin);

    @include media-breakpoint-only(md) {
      .products-card:nth-child(3) ~ .products-card {
        display: none;
      }
    }
  }
  .popular__button {
    max-height: 52px;
  }

  // ******* Categories *******
  .categories {
    padding-top: var(--section-margin);
  }

  // ******* Promotions *******
  .promotions {
    padding-top: var(--section-margin);
    @include media-breakpoint-only(md) {
      .products-card:nth-child(3) ~ .products-card {
        display: none;
      }
    }
  }

  // ******* Articles *******
  .articles {
    padding-top: var(--section-margin);
  }

  // ******* Reviews *******
  .reviews {
    padding-top: var(--section-margin);
    @include media-breakpoint-up(lg) {
      .review:nth-child(3) ~ .review {
        display: none;
      }
    }
    @include media-breakpoint-down(md) {
      .review:nth-child(3) ~ .review {
        display: none;
      }
    }
  }
}
