.catalog-page {
  .categories__section {
    margin-bottom: calc(var(--section-margin) / 2);
  }
  .banner__section {
    margin-bottom: calc(var(--section-margin) / 2);
  }
}

.catalog__section {
  margin-top: var(--section-margin);
}

.catalog__categories {
  margin-top: -40px;
  margin-bottom: -15px;
  @include media-breakpoint-down(xl) {
    margin-top: 0;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: -30px;
  }
}

.catalog__pagination {
  grid-column: 1 / -1;
}
