.special-offers__container {
  display: grid;
  align-items: center;
  grid-template-columns: 217px 1fr;
  gap: var(--gap);
  @include media-breakpoint-up(xl) {
    --gap: 60px;
  }
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.catalog-categories {
  display: grid;
  width: 100%;
  gap: 18px;
  @include media-breakpoint-down(xl) {
    gap: 13px;
  }
  @include media-breakpoint-up(lg) {
    .category {
      display: block;
      padding: 0;
      aspect-ratio: auto;
      text-align: left;
      box-shadow: none;
      border: none;
      &:hover {
        background: transparent;
        color: var(--primary-color);
      }
    }
    .category__icon {
      display: none;
    }
  }
  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.catalog-banner__slider {
  min-width: 1px;
  max-width: 100%;
  @include media-breakpoint-down(lg) {
    order: -1;
  }
}

.catalog__section {
  margin-top: var(--section-margin);
}
