.cart__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 var(--gap);

  @include media-breakpoint-up(xl) {
    --gap: 40px;
  }
}

.cart__table-head {
  display: none;
  font-weight: 500;
}
.cart__table-body {
  display: grid;
  gap: 15px;
}
.cart__table-row {
  display: grid;
  gap: 15px;
  box-shadow: var(--box-shadow);
  @include media-breakpoint-down(md) {
    display: grid;
    align-items: center;
    grid-template-columns: min-content auto auto;
    padding: 20px;
  }
}

.cart__table-cell {
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  padding: 24px 40px;

  @include media-breakpoint-down(lg) {
    padding: 15px 20px;
  }
  @include media-breakpoint-down(md) {
    padding: 0;
  }
  .product__price--old {
    margin: 0;
  }
}

.cart__item-image-cell {
  width: 1%;
  @include media-breakpoint-down(md) {
    display: flex;
    align-items: center;

    grid-row: 1 / 3;
  }
}

.cart__item-info-cell {
  @include media-breakpoint-down(lg) {
    grid-column: 2 / -1;
  }
}
.cart__item-image {
  position: relative;
  padding: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background: var(--card-color);
  border-radius: 4px;
}
.cart__item-option {
  opacity: 0.5;
  font-size: 13px;
}

.cart__item-price {
  white-space: nowrap;
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.cart__item-total {
  white-space: nowrap;
}

.cart__item-remove {
  font-size: 30px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.cart__item-quantity--button {
  max-height: 36px;
  max-width: 45px;
  font-size: 14px;
}

.cart__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
  margin-top: 50px;

  @include media-breakpoint-down(lg) {
    flex-direction: column-reverse;
  }
}

.cart__summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 700px;
  margin-left: auto;
  gap: var(--gap);
  font-size: 27px;
  line-height: 1;
  font-weight: 500;
  @include media-breakpoint-down(lg) {
    justify-content: space-between;
    max-width: none;
    margin: 0;
  }
  @include media-breakpoint-down(md) {
    display: grid;
    font-size: 24px;
    justify-content: stretch;
  }
}

.cart__guest-text {
  padding: 15px 20px;
  background: var(--card-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  font-size: 16px;
  text-align: right;
}

.cart__buttons-grid {
  display: grid;
  gap: var(--gap);
}

.cart__checkout-button {
  @include media-breakpoint-down(md) {
    width: 100%;
    flex-shrink: 1;
  }
}

@include media-breakpoint-up(md) {
  .cart__table {
    display: table;
    margin: calc(var(--gap) * -1) 0;
  }
  .cart__table-head {
    display: table-header-group;
  }
  .cart__table-body {
    display: table-row-group;
  }
  .cart__table-row {
    display: table-row;
  }
  .cart__table-cell {
    display: table-cell;
  }
}
