.page-articles {
  .articles {
    --section-margin: 0;
  }
}

.articles__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
  @include media-breakpoint-up(md) {
    .article:nth-child(4n - 3) {
      grid-row: span 2;
      .article__text {
        width: 100%;
      }
    }
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}

.articles__pagination {
  grid-column: 1 / -1;
}

.articles__similar {
  margin-top: var(--section-margin);
}

.article {
  position: relative;
  padding: 23px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 285px;
  border-radius: 4px;
  cursor: pointer;
  background: var(--dark-gray);
  &:hover {
    .article__image {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 15px;
  }
}

.article__image {
  position: absolute;
  inset: 0;
  transition:
    opacity 0.15s,
    transform 0.15s;
}

.article__text {
  margin-top: auto;
  padding: 18px 20px;
  width: fit-content;
}

.article__name,
.article__description {
  margin-bottom: 12px;
  max-width: 300px;
  @include media-breakpoint-down(md) {
    max-width: none;
    width: 100%;
  }
}
.article__name {
  font-size: 24px;
  font-weight: 500;
  @include media-breakpoint-down(md) {
    font-size: 21px;
  }
}

.article__description {
  font-size: 14px;
  line-height: 1.5;
}
