.about__container {
  display: grid;
  grid-template-columns: 5fr 1fr 6fr;
  gap: 30px;
  align-items: center;

  @include media-breakpoint-up(lg) {
    &::before {
      content: '';
      order: 2;
    }
  }
  @include media-breakpoint-down(xl) {
    grid-template-columns: 9fr 1fr 12fr;
  }
  @include media-breakpoint-down(lg) {
    align-items: stretch;
    grid-template-columns: auto 1fr;
  }
}

.about__title {
  margin-bottom: 25px;
}

.about__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 464 / 411;
  background: var(--card-color);
  order: 1;
  img {
    max-width: 62.5%;
  }
  @include media-breakpoint-only(md) {
    aspect-ratio: auto;
    max-width: 250px;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
}
.about__text {
  order: 3;
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
}

.about__button {
  margin-top: 24px;
  @include media-breakpoint-down(md) {
    margin-top: 15px;
  }
}

.about__benefits {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / -1;
  margin-top: 50px;
  order: 5;
  @include media-breakpoint-up(xl) {
    --gap: 40px;
  }
  @include media-breakpoint-down(md) {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__benefit {
  padding: 33px 20px;
  border-radius: 4px;
  border: 2px solid var(--border-color);
  text-align: center;

  @include media-breakpoint-down(lg) {
    padding: 20px 15px;
    font-size: 14px;
  }
}

.about__benefit-icon {
  background-color: var(--primary-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  font-size: 40px;
  color: #fff;
}
.about__benefit-text {
  max-width: 150px;
  margin: auto;
}
