// **********************
.page-home {
  --section-margin: 120px;

  @include media-breakpoint-down(xl) {
    --section-margin: 90px;
  }

  // ******* muzzle *******
  .muzzle__content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    min-height: 700px;
    background: var(--dark-gray);
    &:hover {
      .muzzle__image {
        filter: brightness(1.3);
      }
    }
  }
  .muzzle__image {
    transition: filter 0.15s;
  }
  .muzzle__text {
    margin: auto;
    padding: 50px 70px;
    max-width: 766px;
    text-align: center;
  }

  .muzzle__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .muzzle__description {
    font-size: 18px;
    line-height: calc(26 / 18);
    margin-bottom: 20px;
  }

  // ******* About *******
  .about__section {
    padding-top: var(--section-margin);
  }

  // ******* Popular *******
  .popular {
    padding-top: var(--section-margin);
  }
  .popular__button {
    max-height: 52px;
  }

  // ******* Categories *******
  .categories {
    padding-top: var(--section-margin);
  }

  // ******* Promotions *******
  .promotions {
    padding-top: var(--section-margin);
  }

  // ******* Articles *******
  .articles {
    padding-top: var(--section-margin);
  }

  // ******* Reviews *******
  .reviews {
    padding-top: var(--section-margin);
  }
}
