.special-offers__container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: var(--gap);
  @include media-breakpoint-up(xl) {
    --gap: 60px;
  }
}

.catalog-banner__slider {
  min-width: 1px;
}

.catalog__section {
  margin-top: var(--section-margin-top);
}
