.cart__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 var(--gap);
  margin: calc(var(--gap) * -1) 0;

  @include media-breakpoint-up(xl) {
    --gap: 40px;
  }
}

.cart__table tr {
  box-shadow: var(--box-shadow);
}
.cart__table td,
.cart__table th {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  padding: 24px 40px;
  span {
    vertical-align: middle;
  }

  @include media-breakpoint-down(lg) {
    padding: 15px 20px;
  }
}

.cart__item-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart__item-image {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background: var(--card-color);
  border-radius: 4px;
}
.cart__item-quantity--button {
  max-height: 36px;
  max-width: 45px;
  font-size: 14px;
}

.cart__actions {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  margin-top: 50px;

  @include media-breakpoint-down(lg) {
    flex-direction: column-reverse;
  }
}

.cart__summary {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 700px;
  margin-left: auto;
  gap: var(--gap);
  font-size: 27px;
  line-height: 1;
  font-weight: 500;
  @include media-breakpoint-down(lg) {
    justify-content: space-between;
    max-width: none;
    margin: 0;
  }
}
