.about__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  align-items: center;
}

.about__title {
  margin-bottom: 25px;
}

.about__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 411px;
  background: var(--card-color);
  grid-column: span 5;
  img {
    max-width: 290px;
  }
}
.about__text {
  grid-column: 7 / -1;
}

.about__button {
  margin-top: 24px;
}

.about__benefits {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(4, 1fr);
  grid-column: 1 / -1;
  margin-top: 50px;
  @include media-breakpoint-up(xl) {
    --gap: 40px;
  }
}

.about__benefit {
  padding: 33px 20px;
  border-radius: 4px;
  border: 2px solid var(--border-color);
  line-height: 1.5;
  text-align: center;
}

.about__benefit-icon {
  background-color: #d9d9d9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
  font-size: 36px;
  color: #fff;
}
.about__benefit-text {
  max-width: 150px;
  margin: auto;
}
