/* ========= General ========= */
::selection {
  background: var(--primary);
  color: var(--white);
}

html {
  font: 400 var(--font-size) / 1.3 var(--font);
  color: var(--text);
  background: var(--bg);
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background: #f7dfdb;
  background-clip: content-box;
  border-radius: 0;
}
::-webkit-scrollbar-track {
  background: #fff;
  border: 4px solid #fff;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  -webkit-appearance: none;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
