// *** Swiper ***

swiper-container {
  --swiper-pagination-color: radial-gradient(
    var(--primary-color) 5px,
    #fff 5px
  );
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 12px;
  --swiper-pagination-bottom: 12px;
  --swiper-pagination-top: auto;
  --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 4px;

  @include media-breakpoint-down(md) {
    --swiper-pagination-right: 5px;
    --swiper-pagination-bottom: 5px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-color: radial-gradient(
      var(--primary-color) 3px,
      #fff 3px
    );
  }
}

// *** LightGallery ***

body {
  .lg-backdrop {
    background: #2b2626cc;
    backdrop-filter: blur(2.5px);
  }
  .lg-outer .lg-thumb-outer {
    background: transparent;
  }
  .lg-outer .lg-thumb-item {
    border-color: #fff2f033;
  }
  .lg-outer .lg-thumb-item.active,
  .lg-outer .lg-thumb-item:hover {
    border-color: var(--primary-color);
  }
}

// *** noUiSlider ***
.noUi-target {
  margin: 0 8px;
  position: relative;
  height: 4px;
  user-select: none;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    left: -8px;
    right: -8px;
    background: #d6d6d6;
    border-radius: 5px;
  }
  .noUi-base,
  .noUi-connects {
    position: relative;
    height: 100%;
    z-index: 1;
  }
  .noUi-connects {
    z-index: 0;
    overflow: hidden;
  }
  .noUi-connect,
  .noUi-origin {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .noUi-handle {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -6px;
    right: -8px;
    height: 16px;
    width: 16px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid #fff;
    box-shadow: 0 0 0 2px var(--primary-color);
    .noUi-tooltip {
      transform: translateY(25px);
      line-height: 1;
      letter-spacing: 0.05em;
      font-size: 12px;
      background: #fff2f0;
      box-shadow: 0 0 5px 5px #fff2f0;
    }
  }
  .noUi-connects {
    top: 0;
    right: 0;
  }
  .noUi-connect {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
    transform-style: flat;
  }
  .noUi-origin {
    width: 100%;
    height: 0;
  }
}
