.fixed-buttons {
  position: relative;
  z-index: 100;
  letter-spacing: 0.03em;
  .btn {
    padding: 7px 7px 7px 15px;
    height: auto;
    font-size: 14px;
    background: rgba(#f9e2df, 0.8);
    overflow: hidden;
    font-size: 12px;
    gap: 8px;
    &:hover {
      background: rgba(#fce9e7, 0.95);
    }
    span {
      display: block;
      max-width: 150px;
      transition: 0.2s ease;
    }
  }
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    .button-icon {
      animation: pulsate 0.5s infinite;
    }
    // &:hover {
    //   .button-icon {
    //     animation-play-state: paused;
    //   }
    // }
  }

  .button-icon {
    position: relative;
    width: 30px;
    height: 30px;
    background: #c5837a no-repeat 50%;
    background-size: 1em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    z-index: 2;
  }

  .expanded-buttons {
    display: flex;
    position: fixed;
    bottom: 77px;
    right: 30px;
    flex-direction: column;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(40px);
    &.show {
      transform: none;
      visibility: visible;
      opacity: 1;
    }
    .button-icon {
      width: 25px;
      height: 25px;
      font-size: 16px;
    }
  }

  .expanded-buttons:not(.show) ~ .floating-button:not(.full) {
    padding: 8px;
    gap: 0;
    span {
      max-width: 0;
      overflow: hidden;
      margin-left: -14px;
      opacity: 0;
    }
  }
  .button-item {
    margin-bottom: 7px;
  }

  /* Icon styles (replace with actual icons) */
  .telegram {
    background-color: #0088cc;
    background-image: url('../images/icons/telegram.svg');
  }
  .vk {
    background-color: #0077ff;
    background-image: url('../images/icons/vk.svg');
  }
  .whatsapp {
    background-color: #25d366;
    background-image: url('../images/icons/whatsapp.svg');
  }
  .instagram {
    background-color: #c13584;
    background-image: url('../images/icons/instagram-alt.svg');
  }
  .phone {
    background-image: url('../images/icons/phone.svg');
  }

  @keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
